@model Receivables.Models.DebtModel

@{
    ViewBag.Title = "Profile";
}

<style>

    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
</style>

@section Header{
    <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Дебиторская задолженность</h3>
                    </div>
                </div>
            </div>

            @*@(Ajax.ActionLink("Документы", "Index", "Debt", new AjaxOptions { UpdateTargetId = "results" }, new { @class = "btn btn-outline-warning mb-sm-3 mb-md-0", @role = "tab" }))*@
            <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">Обращение в ЮО</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">Ответы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="ni ni-calendar-grid-58 mr-2"></i>Документы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" data-toggle="tab" href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-4" aria-selected="false"><i class="ni ni-calendar-grid-58 mr-2"></i>ТТН</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-5-tab" data-toggle="tab" href="#tabs-icons-text-5" role="tab" aria-controls="tabs-icons-text-5" aria-selected="false"><i class="ni ni-calendar-grid-58 mr-2"></i>Претензия</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">

                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)

                <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">Обращение</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CustomerName, "Контрагент", new { @class = "form-control-label" })
                                @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CustomerINN, "ИНН", new { @class = "form-control-label" })
                                @Html.TextBoxFor(m => m.CustomerINN, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.AgreementName, "Договор", new { @class = "form-control-label" })
                                @Html.TextBoxFor(m => m.AgreementName, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Postponement, "Количество дней отсрочки", new { @class = "form-control-label" })
                                @Html.TextBoxFor(m => m.Postponement, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>


                @*<hr class="my-4" />


                    <div id="results"></div>*@
            </div>

            <div class="card shadow">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <!-- Обращение в ЮО -->
                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">

                            <!-- Основное -->
                            <hr class="my-4" />
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.SumAmount, "Сумма долга", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.SumAmount, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Currency, "Валюта", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.Currency, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Penalties, "Пеня", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.Penalties, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.InterestAmount, "Проценты", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.InterestAmount, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Fine, "Штраф", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.Fine, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.StateDuty, "Госпошлина", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.StateDuty, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Total, "Всего", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.Total, new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Взыскано -->
                            <div class="pl-lg-4">
                                <h6 class="heading-small text-muted mb-4">Взыскано</h6>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.SumExacted, "Сумма долга", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.SumExacted, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Currency, "Валюта", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.Currency, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.PenaltiesExacted, "Пеня", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.PenaltiesExacted, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.InterestAmountExacted, "Проценты", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.InterestAmountExacted, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.FineExacted, "Штраф", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.FineExacted, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.StateDutyExacted, "Госпошлина", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.StateDutyExacted, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.TotalExacted, "Всего", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.TotalExacted, new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Оплачено -->
                            <div class="pl-lg-4">
                                <h6 class="heading-small text-muted mb-4">Оплачено</h6>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.DebtPaid.SumAmount, "Сумма долга", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.DebtPaid.SumAmount, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Currency, "Валюта", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.Currency, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.DebtPaid.Fine, "Штрафные санкции", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.DebtPaid.Fine, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.DebtPaid.StateDuty, "Госпошлина", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.DebtPaid.StateDuty, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.DebtPaid.Total, "Всего", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.DebtPaid.Total, new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Исполнительный документ -->
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.DateDoc, "Дата исполнительного документа", new { @class = "form-control-label" })
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                <input class="datepicker form-control" placeholder="Select date" type="text" value="@Model.DateDoc.ToShortDateString()" name="endDate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.NumDoc, "Номер исполнительного документа", new { @class = "form-control-label" })
                                            @Html.TextBoxFor(m => m.NumDoc, new { @class = "form-control" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Ответы -->
                        <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">Ответы</h3>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a href="#!" class="btn btn-sm btn-primary">Добавить</a>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Дата</th>
                                            <th scope="col">Статус</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var doc in @Model.DebtStatuses)
                                        {
                                            <tr>
                                                <td>
                                                    @doc.Date.ToShortDateString()
                                                </td>
                                                <td>
                                                    @doc.Status
                                                </td>
                                                <td>
                                                    @doc.Value
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Документы -->
                        <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">

                            @using (Ajax.BeginForm("AccountSearch", "Calculation", new AjaxOptions { UpdateTargetId = "results" }))
                            {
                                <div class="custom-file">
                                    <input type="file" class="custom-file-label" id="customFileLang" lang="en">
                                    <label class="custom-file-input" for="customFileLang">Select file</label>
                                </div>
                                <br>
                                <button class="btn btn-outline-success" type="submit">Загрузить</button>
                            }

                            <div id="results"></div>
                        </div>

                        <!-- ТТН -->
                        <div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">
                            <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                <div class="card-header bg-white border-0">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h3 class="mb-0">ТТН/Оплаты</h3>
                                        </div>
                                        <div class="col-4 text-right">
                                            <a href="#!" class="btn btn-sm btn-primary">Добавить</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Дата</th>
                                                <th scope="col">Номер</th>
                                                <th scope="col"></th>
                                                <th scope="col">Сумма</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var doc in @Model.DebtStores)
                                            {
                                                <tr>
                                                    <td>
                                                        @doc.Date.ToShortDateString()
                                                    </td>
                                                    <td>
                                                        @doc.Number
                                                    </td>
                                                    <td>
                                                        @doc.DebtStoreType
                                                    </td>
                                                    <td>
                                                        @doc.Sum
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Претензия -->
                        <div class="tab-pane fade" id="tabs-icons-text-5" role="tabpanel" aria-labelledby="tabs-icons-text-5-tab">
                            <p class="description">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $('.datepicker').datepicker({
            weekStart: 1,
            color: 'red'
        });

    </script>
}
