@model Receivables.Models.DebtModel

<div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
    @Html.LabelFor(m => m.CustomerName, "Контрагент", new { @class = "form-control-label" })
    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @disabled = "disabled" })
    @Html.LabelFor(m => m.CustomerName, "Контрагент", new { @class = "form-control-label" })
    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @disabled = "disabled" })
    @Html.LabelFor(m => m.CustomerName, "Контрагент", new { @class = "form-control-label" })
    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @disabled = "disabled" })
    @Html.LabelFor(m => m.CustomerName, "Контрагент", new { @class = "form-control-label" })
    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @disabled = "disabled" })
    @Html.LabelFor(m => m.CustomerName, "Контрагент", new { @class = "form-control-label" })
    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @disabled = "disabled" })
</div>
