@model Receivables.Models.ProfileModel
@{
    ViewBag.Title = "Аккаунт";
}

@section Header{
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../../Assets/img/bg5.jpg); background-size: cover; background-position: center top;">
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2">Добро пожаловать, @Model.FirstName</h1>
                        <p class="mt-0 mb-5">Это твой аккаунт. Здесь ты можешь вести учет дебиторской задолженности</p>

                        <button class="btn btn-info" type="submit">Сохранить изменения</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="~/Assets/img/Kate/Kate3.jpeg" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body pt-150 pt-md-4">
                            <div class="text-center">
                                <h3>
                                    @Model.FirstName @Model.LastName
                                </h3>
                                <div class="h5 font-weight-300">
                                    <i class="ni location_pin mr-2"></i>@Model.Country, @Model.City
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Аккаунт</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                           
                                <h6 class="heading-small text-muted mb-4">Личные данные</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.FirstName, "Имя", new { @class = "form-control-label" })
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.LastName, "Фамилия", new { @class = "form-control-label" })
                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Email, new { @class = "form-control-label" })
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PhoneNumber, "Телефон", new { @class = "form-control-label" })
                                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4" />
                                <!-- Address -->
                                <h6 class="heading-small text-muted mb-4">Контактная информация</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Address, "Адрес", new { @class = "form-control-label" })
                                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.City, "Город", new { @class = "form-control-label" })
                                                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Country, "Страна", new { @class = "form-control-label" })
                                                @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.PostCode, "Индекс", new { @class = "form-control-label" })
                                                @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    }

