@model Receivables.Models.LoginModel

@{
    ViewBag.Title = "Login Page";
}

@section Header{
<div class="container ">
    <div class="card card-register">
        <div class="title-brand">
            <h3 class="presentation-title">Login</h3>
        </div>
        <form action="Login" method="post" class="form-group register-form register-card" role="form">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.LabelFor(x => x.Email, new { @class = "presentation-subtitle" })
            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
            @Html.LabelFor(x => x.Password, new { @class = "presentation-subtitle" })
            @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })

            <button class="btn btn-dark btn-block" type="submit">Login</button>
        </form>
    </div>
</div>
}


@*<div class="container">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="card card-register">
                <h3 class="title mx-auto">Welcome</h3>
                <form class="register-form">
                    <label>Email</label>
                    <input type="text" class="form-control" placeholder="Email">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                    <button class="btn btn-danger btn-block btn-round">Register</button>
                </form>
                <div class="forgot">
                    <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
</div>*@


