@model Receivables.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

@section Header{
    <div class="header py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                 
                </div>
            </div>
        </div>
    </div>
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-4">Create account</div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5">
                        <form action="Register" method="post" role="form">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    @Html.LabelFor(x => x.Email, new { @class = "input-group-text" })
                                    @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    @Html.LabelFor(x => x.Password, new { @class = "input-group-text" })
                                    @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-3">
                                    @Html.LabelFor(x => x.ConfirmPassword, new { @class = "input-group-text" })
                                    @Html.EditorFor(x => x.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            @*<div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>*@
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="custom-control custom-control-alternative custom-checkbox">
                                        <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                                        <label class="custom-control-label" for="customCheckRegister">
                                            <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary mt-4" type="submit">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}